body {
    display: flex; flex: 1;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}



.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    height: 40px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.pages-link {
    display: flex;
    gap: 12px;
}

.link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}


.hero {
    background-color: #1f2937;
    display: flex;
    color: #E5E7EB;
    padding: 80px 120px;
    gap: 36px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

#hero {
    font-size: 40px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-caption {
    color: #E5E7EB;
    margin-bottom: 8px;
    line-height: 24px;
}

.hero-image {
    flex: 1;      /* THÊM DÒNG NÀY: Để vùng chứa ảnh chiếm 1 nửa còn lại */ 
    width: 100%; /* Hoặc dùng width: 100% để lấp đầy */
    border-radius: 8px; /* Thêm tí bo góc cho giống mẫu */
}


button {
    height: 40px;
    width: fit-content;
    padding: 4px 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
}



.hero-content {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 48px 120px;
    padding-bottom: 80px;
    gap: 40px;
}

.cards {
    display: flex;
    gap: 32px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.description {
    text-align: center;
    color: #1f2937;
}

.img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid blue;
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quote-section {
    background-color: lightgrey;
    display: flex; flex-direction: column; gap: 12px;
    justify-content: center;
    padding: 60px 180px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-size:18px;
    font-weight: 900;
    text-align: right;
}



.CTA-section {
    display: flex;
    padding: 80px 120px;
}

.CTA-banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 80px;
    background-color: #3882f6;
    border-radius: 12px;
    align-items: center;
}

.CTA-content {
    display: flex;
    flex-direction: column;
    color: #f9fafb;
    gap: 8px;

}

#CTA {
    border: 1px solid #f9fafb;
}

.banner-title {
    font-size: 20px;
    font-weight: 600;
}

.footer {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 32px 120px;
    background-color: #1f2937;
    color: #E5E7EB;
}

